@media (max-height:700px)
    body
        .navigation 
            .content 
                height: 90vh
    
@media (max-width: 1400px)
    body
        .sidepanel
            display: none
    
@media (max-width: 1024px)
    body
        .about
            &__img
                display: none
                            
@media (max-width: 768px)
    body
        .promo
            height: 640px
            .content
                padding: 200px 0 0 0
        .about
            padding: 50px 0 0 0
            .content
                .about__descr
                    .skill
                        grid-template-columns: repeat(1, minmax(1px, auto))
                        grid-template-rows: repeat(2, minmax(1px, auto))
        .resume
            padding: 50px 0 0 0
            .content
                .divider 
                    margin-bottom: 40px
                .title_fz36
                    margin: 26px 0 0 0
                .resume__descr
                    display: grid
                    grid-template-columns: repeat(1, minmax(100px, auto))
                    grid-template-rows: repeat(2, minmax(100px, auto))
                    .resume__block 
                        .resume__descr-item 
                            .resume__descr-head::before 
                                top: 78px
        .skills
            .divider
                margin-bottom: 40px

@media (max-width: 375px)
    body
        .container
            padding: 0 10px
        .promo
            .menu__burger
                position: absolute
                top: 5px
                right: 5px