@import '../base/mixin'
@import '../base/variable'

.about
    padding: 100px 0 0 0
    .content
        display: flex
        align-items: center
        .about__img
            padding: 0 70px 0 0
        .about__descr
            position: relative
            .title_fz36
                margin: 20px 0 10px 0
            .title.title_fz16
                padding: 0 0 0 12px
                @include circle
            .divider
                margin: 10px 0 0 0
            .about__text
                padding: 20px 0 40px 0
                line-height: 25px
            .skill
                display: grid
                grid-template-columns: repeat(2, minmax(1px, auto))
                grid-template-rows: repeat(2, minmax(1px, auto))
                grid-auto-rows: minmax(1px, auto)
                gap: 30px 50px
                &__block
                    display: flex
                    position: relative
                    .skill__icon
                        padding: 12px 0px 0 15px
                        @include circle
                        &::before
                            top: -3px
                            left: 0
                    .phone
                        padding: 7px 0 0 15px
                    .telegram
                        padding: 5px 0 0 15px
                        
                    .skill__text
                        padding: 0 0 6px 20px
                        .title
                            padding: 0 0 6px 0
                        .skill__descr
                            padding: 0
